<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" [ngStyle]="{'background' : 'url(assets/insta-1.jpg)'}">
                    <div class="instagram__text">
                        <fa-icon [icon]="in"></fa-icon>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" [ngStyle]="{'background' : 'url(assets/insta-2.jpg)'}">
                    <div class="instagram__text">
                        <fa-icon [icon]="in"></fa-icon>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" [ngStyle]="{'background' : 'url(assets/insta-3.jpg)'}">
                    <div class="instagram__text">
                        <fa-icon [icon]="in"></fa-icon>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" [ngStyle]="{'background' : 'url(assets/insta-4.jpg)'}">
                    <div class="instagram__text">
                        <fa-icon [icon]="in"></fa-icon>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" [ngStyle]="{'background' : 'url(assets/insta-5.jpg)'}">
                    <div class="instagram__text">
                        <fa-icon [icon]="in"></fa-icon>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" [ngStyle]="{'background' : 'url(assets/insta-6.jpg)'}">
                    <div class="instagram__text">
                        <fa-icon [icon]="in"></fa-icon>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a routerLink="/home"><img src="assets/logo.png" alt=""></a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><fa-icon [icon]="fa"></fa-icon></a>
                        <a href="#"><fa-icon [icon]="tw"></fa-icon></a>
                        <a href="#"><fa-icon [icon]="in"></fa-icon></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright__text">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made by Chedi Trabelsi and Zakaria Jahir
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>