<app-nav></app-nav>
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/home"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products">
                                <td class="cart__product__item">
                                    <img src="assets/images/products/{{product.pic}}" alt="">
                                    <div class="cart__product__item__title">
                                        <h6>{{product.name_product}}</h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">{{product.price}} DT</td>
                                <td class="cart__quantity">
                                    <div>
                                        <div class="quantity-control">
                                            <button class="quantity-btn increase"
                                                (click)="updateQuantiteDown(product)">-</button>

                                            <input class="quantity-input" type="number" [(ngModel)]="product.quantite"
                                                readonly>
                                            <button class="quantity-btn decrease"
                                                (click)="updateQuantiteUp(product)">+</button>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__total">{{ product.price * product.quantite }} DT</td>
                                <td class="cart__close"><span class="icon_close"
                                        (click)="delete(product.id_product,product.id_panier)"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="/home">Continue Shopping</a>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <!--  <div class="discount__content">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Enter your coupon code">
                        <button type="submit" class="site-btn">Apply</button>
                    </form>
                </div>-->
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span>{{total}} DT</span></li>
                        <li>Total <span>{{total}} DT</span></li>
                    </ul>
                    <a href="/client/checkout" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->

<app-footer></app-footer>