<div id="wrapper">
    <app-admin-nav></app-admin-nav>
        <div id="content-wrapper" class="d-flex flex-column">
    
            <!-- Main Content -->
            <div id="content">
    
            <app-admin-nav2></app-admin-nav2>
    
                <!-- Begin Page Content -->
                <div class="container-fluid">
    
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Orders</h1>
                    </div>
    
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Client name</th>
                            <th scope="col">Client last name</th>
                            <th scope="col">Client adresse</th>
                            <th scope="col">Client phone</th>
                            <th scope="col">Date</th>
                            <th scope="col">Shipping</th>
                            <th scope="col">Paimment</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of orders">
                            <th scope="col">{{order.name_client}}</th>
                            <th scope="col">{{order.last_name}}</th>
                            <th scope="col">{{order.adresse}}</th>
                            <th scope="col">{{order.phone}}</th>
                            <th scope="col">{{order.date_creation}}</th>
                            <th scope="col">{{order.etat_livraison}}</th>
                            <th scope="col">{{order.etat_paiment}}</th>
                            <th scope="col">{{order.montant_total}} TND</th>
                          </tr>

                        </tbody>
                      </table>
    
                
    
                </div>
            </div>
        </div>
    </div>
