
<div id="wrapper">
    <app-admin-nav></app-admin-nav>
        <div id="content-wrapper" class="d-flex flex-column">
    
            <!-- Main Content -->
            <div id="content">
    
            <app-admin-nav2></app-admin-nav2>
    
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <form autocomplete="off" #form="ngForm" name="f">
                        <h3 style=" margin-left:20% ;">Add Product</h3>
                        <div class="form-group" style="width: 30%; margin-left:20% ;">
                            <input type="text" placeholder="category" id="id_category" class="form-control mb-3" name="id_category" ngModel #id_category="ngModel">
                            <input type="text" placeholder="Product name" id="name_product" class="form-control mb-3" name="name_product" ngModel #name_product="ngModel">
                            <input type="text" placeholder="description" id="description" class="form-control mb-3" name="description" ngModel #description="ngModel">
                            <input type="file" placeholder="picture" id="pic" class="form-control mb-3" name="pic" ngModel #pic="ngModel" >
                            <input type="text" placeholder="price" id="price" class="form-control mb-3" name="price" ngModel #price="ngModel">
                            <input type="text" placeholder="availability" id="availability" class="form-control" name="availability" ngModel #availability="ngModel">
                        </div>
                        <button type="button" class="btn btn-primary " style="margin-left:33% ;" (click)="addproduct(form)" >Add</button>
                    </form>
    
                </div>
            </div>
        </div>
    </div>
