<div id="wrapper">
    <app-admin-nav></app-admin-nav>
        <div id="content-wrapper" class="d-flex flex-column">
    
            <!-- Main Content -->
            <div id="content">
    
            <app-admin-nav2></app-admin-nav2>
    
                <!-- Begin Page Content -->
                <div class="container-fluid">
    
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Categorys</h1>
                        <button type="button" class="btn btn-primary" routerLink="/admin/addcategory">Add category</button>
                    </div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Categorys</th>
                            <th scope="col">Edit Categorys</th>
                            <th scope="col">Delete Categorys</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of category">
                            <td>{{item.name}}</td>
                            <td ><button type="button" class="btn btn-warning">Edit</button></td>
                            <td><button type="button" class="btn btn-danger" (click)="delete(item.id_category)">Delete</button></td>
                          </tr>

                        </tbody>
                      </table>
    
    
                
    
                </div>
            </div>
        </div>
    </div>