<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Ashion </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <h2>Dashboard</h2></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/product">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <h3>Products</h3></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/order">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <h3>Orders</h3></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/client">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <h3>Clients</h3></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" >
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <h3>Logout</h3></a>
    </li>

</ul>
<!-- End of Sidebar -->